body {
	margin: 0px;
	font-family: "Open Sans", Helvetica, sans-serif;
	background-color: #f5f6ff;
}

.header {
	background-color: #b0a1b9;
	display: flex;
	align-items: center;
	font-family: "Georgia", Helvetica, sans-serif;
	font-size: 5em;	
	padding-left: 0.3em;
	padding-top: 0.1em;
	border-bottom: solid;
}

.header .image {
	height: 1em;
	min-height: 60px;
}

.header .text {
	background-color: #b0a1b9;
}

.ham-image {
    padding: 0.04em;
    max-height: 1.5em;
    min-height: 40px;
}

img {
	max-height: 100%;
}

.navbar {
    display:flex;
    list-style: none;
    background-color: #b0a1b9;
	font-family: "Merriweather",Helvetica,sans-serif;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor:pointer;
    background-color: #b0a1b9;
    color: black;
    text-decoration: none;
    padding: 1em 2em;
    font-family: "Merriweather", "Lato", Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
}
.navbar a:hover{
    cursor:pointer;
    background-color: #5253c8;
    color: #f5dfe6;
}
.navbar p {
    margin: 0;
    padding: 1em 2em;
    font-family: "Merriweather", "Lato", Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
}
.navbar p:hover{
    cursor:pointer;
    background-color: #5253c8;
    color: #f5dfe6;
}
.navbar .dropdown{
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.navbar .settings{
    flex: 0 1 auto;
    text-align: right;
}
.navbar .settings .hamb{
    padding: 0.5em 2em;
    background-color: #b0a1b9;
    border: 0;
}
.navbar .hamb:hover{
    cursor: pointer;
}
.navbar .settings a{
    justify-content: flex-end;
}
.navbar .searchwithbarandsettings{
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navbar .input{
    flex: 5 1 auto;
    height: 1.5em;
    margin: 0.5em;
}
.navbar .search{
    flex: 0 1 auto;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: bold;
    background-color: #f5dfe6;
    color: black;
    border: 3px solid;
    border-color: #473d4f;
    border-radius: 3em;
    padding: 0.25em 0.5em;
    margin: 0.5em;
}
.navbar .search:hover{
    cursor:pointer;
    background-color: #5253c8;
    color: #f5dfe6;
}
.navbar .button{
    font-weight: bold;
    background-color: #f5dfe6;
    border: 3px solid;
    border-color: #473d4f;
    border-radius: 3em;
    padding: 0.25em 0.5em;
    margin: 0.5em;
}
.navbar .button a{
    font-family: "Open Sans", Helvetica, sans-serif;
    background: 0;
    padding: 0;
}
.navbar .button:hover{
    background-color: #5253c8;
}
.navbar .button:hover a{
    color:#f5dfe6;
}
.navbar .dropdown-content a{
    display: none;
    position: relative;
}
.navbar .dropdown:hover .dropdown-content a{
    top: 0;
    display: block;
    z-index: 1;
}
.navbar .settings:hover .dropdown-content a{
    top: 0;
    display: block;
    z-index: 1;
}
.navbar .dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.navbar .settings .dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 10em;
    right: 0;
}
.content{
    margin-right: 2em;
    margin-left: 2em;
}

.button:hover{
	cursor: pointer;
}

.footer{
    margin: 0;
    color: black;
    font-family: "Open Sans", Helvetica, sans-serif;
    text-align: center;
}

